/* Основные стили */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #659DBD; /* фон */
    color: #FBEEC1; /* цвет шрифта */
    margin: 0;
    padding: 0;
}

/* Навбар */
.navbar {
    background-color: #1b1f3b;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

.navbar-link {
    text-decoration: none;
    color: #ffffff; /* цвет текста навбара */
}

/* Контейнер */
.container {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

/* Поиск */
.search-container {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

/* Кнопки */
button, .add-button, .search-button, .edit-button, .delete-button {
    padding: 10px 15px;
    background-color: #8D8741; /* цвет кнопок */
    color: #FBEEC1; /* цвет текста кнопок */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; /* убираем подчеркивание */
}

button:hover, .add-button:hover, .search-button:hover, .edit-button:hover, .delete-button:hover {
    background-color: #BC986A; /* цвет кнопок при наведении */
}

/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1b1f3b;
    color: white;
}

/* Блоки шоу */
.shows-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* отступы между блоками */
}

.show-block {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
